body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url(img/digital-art-landscape-fantasy-art-1480213-wallhere.com.jpg);
    background-size: cover;
}

#btnMenuPermanent {
    padding: 10px 20px;
    background-color: #e76bb1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btnMenuPermanent:hover {
    background-color: #f901a2;
}


#choixClasse, #jeu {
    margin-top: 50px;
}

.joueur {
    margin-bottom: 30px;
}

label, select, button {
    font-size: 1.2em;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

select {
    padding: 5px 10px;
    border-radius: 5px;
}

div.joueur {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    width: 200px;
    background-color: white;
}
